<h2>Países</h2>
<hr />

<ul class="list-group">
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item"
  >
    Home page
  </li>

  <li routerLinkActive="active" routerLink="about" class="list-group-item">
    About
  </li>

  <li routerLinkActive="active" routerLink="contact" class="list-group-item">
    Contact Page
  </li>

  <li
    routerLinkActive="active"
    routerLink="countries/by-Capital"
    class="list-group-item"
  >
    Por Capital Del País
  </li>

  <li
    routerLinkActive="active"
    routerLink="countries/by-Country"
    class="list-group-item"
  >
    Por País
  </li>

  <li
    routerLinkActive="active"
    routerLink="countries/by-Region"
    class="list-group-item"
  >
    Por Región
  </li>
</ul>
